.form{
  width: fit-content;
}

#root {
  min-height: 100vh;
}

.news .row:nth-child(even) {
  background: #F9F9FF;
}

.news .row:nth-child(odd) {
  background: #F4F4FF;
}

.search {
  background: #EFEFFF;
}

form {
  height: 100%;
}

.md-form {
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
}

.row {
  min-height: 6vh;
}

.col {
  display: flex;
  align-items: center;
  overflow: hidden;
  
  word-wrap: break-word
}